div#graph {
	text-align: center;
}

svg circle.toon {
	fill: url(#toon) !important;
}

#message-area {
	text-align: center;
	height: 100px;
	width: 80%;
	margin: 0 auto;

	font-family: "monaco", monospace, sans-serif;
	font-size: 2em;
	color: #333;
}